/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  40% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
  }
}
/* BODY */
body {
  font-family: "Bree", sans-serif;
  padding: 1em;
  line-height: 2em;
}
/* MAIN */
main {
  display: flex;
  justify-content: center;
}
div {
  padding: 1em;
  border: 1.5px solid black;
  width: 35vw;
}

span {
  color: #6a889c;
}
div {
  position: relative;
}
.parole i {
  position: absolute;
  left: 205px;  
  opacity: 0;
  animation: slide 9s linear infinite;
  width: 15vw;
}
.parole i:nth-child(1) {
  animation-delay: 0s;
}
.parole i:nth-child(2) {
  animation-delay: 3s;
}
.parole i:nth-child(3) {
  animation-delay: 6s;
}
